<div class="bg-gray1 p-b-40">
  <!-- 1st Column-->
  <div fxLayout="column" fxLayoutAlign="center center" class="text-white">
    <h3>Possible Colors</h3>
  </div>
  <!-- //1st Column -->

  <!-- 1st Row -->
  <div fxLayout="row" fxLayoutAlign="space-around start" class="m-l-20">
    <div class="border">
      <div fxFlex="15" class="p-50 bg-black"></div>
    </div>

    <div class="border">
      <div fxFlex="15" class="p-50 bg-gray1"></div>
    </div>

    <div class="border">
      <div fxFlex="15" class="p-50 bg-green"></div>
    </div>

    <div class="border">
      <div fxFlex="15" class="p-50 bg-gray4"></div>
    </div>

    <div class="border">
      <div fxFlex="15" class="p-50 bg-white"></div>
    </div>
  </div>

  <!-- //1st Row -->

  <!-- 2nd Row-->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="text-white m-t-50"
  >
    <h3>Button Colors</h3>
  </div>
 
  <div fxLayout="row" fxLayoutAlign="space-around center" class="m-t-50">
    <button
      mat-button
      class="btn btn-block bg-black text-white font-medium fs12 w10 h10"
    >
      Black
    </button>

    <button
      mat-button
      class="btn btn-block bg-gray1 text-white font-medium fs12 w10 h10"
      style="border-color: white;"
    >
      Gray 1
    </button>
    <button
      mat-button
      class="btn btn-block bg-green text-white font-medium fs12 w10 h10"
    >
      Green
    </button>

    <button
      mat-button
      class="btn btn-block bg-gray4 text-black font-medium fs12 w10 h10"
    >
      Gray 4
    </button>

    <button
      mat-button
      class="btn btn-block bg-white text-black font-medium fs12 w10 h10"
    >
      White
    </button>
  </div>
 <!-- //2nd Row-->

  <!-- 3rd Row-->
  <div fxLayout="row" fxLayoutAlign="space-around center" class="m-t-50">
    <div fxFlex="30" class="text-white">
      <h2>This is an example header (Poppins)</h2>
      <p class="fs20">
        <b> (Lato)</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit
        posuere neque, vitae ultricies risus tempus a. Suspendisse potenti.
        Mauris vel quam vitae turpis cursus luctus at ac purus.
      </p>
    </div>
    <div fxFlex="25" class="text-white">
      <h3>This is an example of a sub head (Poppins)</h3>
      <p class="fs16">
        <b> (Lato)</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit
        posuere neque, vitae ultricies risus tempus a. Suspendisse potenti.
        Mauris vel quam vitae turpis cursus luctus at ac purus.
      </p>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="text-white">
    <p class="fs16">Style tiles by: Bryon Kurt S. Segunto</p>
  </div>
   <!-- //3rd Row-->
</div>
