/* You can add global styles to this file, and also import other style files */


/* Name: Copywork - Style Guide
 Author: RFrancisco
 Email: rfrancisco@blastasia.com
 Inspo: Non-profit Style Tile Design by Jen Bancino
 File: sass
 Version: 1.0.0 */


 .flex { display: inline-flex; }