/* 
 Name: Copywork - Style Guide
 Author: RFrancisco
 Email: rfrancisco@blastasia.com
 Inspo: Non-profit Style Tile Design by Jen Bancino
 File: sass/scss
 Version: 1.0.0 
*/

/*
    TABLE OF CONTENTS
    A. Variables
        1. Fonts
        2. Colors
            2.1 Solid
                2.1.1 Maps
                2.1.2 Mixins ( Flow Control )
                    a.1 Background
                    b.1 Text
                    c.1 Border
    B. Functions & Loops
    C. 

*/

// Typeface

$headfont: "Poppins", sans-serif;
$bodyfont: "Lato", sans-serif;

// Colors
$green: #009e0f;
$gray1: #333333;
$black: #000000;
$white: #fefefe;
$gray4: #cccccc;
$border: solid;

// 2.1.1 Mapping
$solid: () !default;
$solid: map-merge(
  (
    green: #009e0f,
    gray1: #333333,
    black: #000000,
    white: #fefefe,
    gray4: #cccccc,
    solid: solid,
  ),
  $solid
);

// 2.1.2 Mixins
// a.1 Background
@mixin bg-solid($parent, $solid) {
  #{$parent} {
    background: $solid;
  }
}

// Creating Class
@each $solid, $value in $solid {
  @include bg-solid(".bg-#{$solid}", $value);
} // This makes the class "bg-{color name}"

// b.1 Text
@mixin text-solid($parent, $solid) {
  #{$parent} {
    color: $solid;
  }
}
// Creating Class
@each $solid, $value in $solid {
  @include text-solid(".text-#{$solid}", $value);
} // This makes the class "text-{color name}"

// c.1 Border
@mixin outline-solid($parent, $solid) {
  #{$parent} {
    border: solid 1.2px $solid !important;
    border-radius: 0.25rem;
    background: transparent;
    line-height: 1.5;
    cursor: pointer;
  }
}
// Creating Class
@each $solid, $value in $solid {
  @include outline-solid(".outline-#{$solid}", $value);
} // This makes the class "outline-{color name}"

@mixin border-solid($parent, $solid) {
  #{$parent} {
    color: $solid;
  }
}
@each $solid, $value in $solid {
  @include border-solid(".bc-#{$solid}", $value);
}